<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRY.com</title>
    <link rel="stylesheet" href="/Resources/Templates/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">REGISTRY</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" 
                aria-haspopup="true" aria-expanded="false">Registros</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/correos">Registro de Correos</a>
                  <a class="dropdown-item" href="/cursos">Registro de Cursos</a>
                  <a class="dropdown-item" href="/frecuencias">Registro de Frecuencias</a>
                  <a class="dropdown-item" href="/horarios">Registro de Horarios</a>
                  <a class="dropdown-item" href="/laboratorios">Registro de Laboratorios</a>
                  <a class="dropdown-item" href="/perfiles">Registro de Perfiles</a>
                  <a class="dropdown-item" href="/profesores">Registro de Profesores</a>
                  <a class="dropdown-item" href="/programas">Registro de Programas</a>
                  <a class="dropdown-item" href="/telefonos">Registro de Teléfonos</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Créditos</a>
                </div>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <br><br><br><br><br>

      <center><img src="/Images/LOGO.jpg" alt="Logo de USAP" width="480" height="224"></center>

      <br><br>

      <center> <button type="button" class="btn btn-success btn-lg">Continuar</button> </center>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
      crossorigin="anonymous"></script>
</body>
</html>