<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Resources/Templates/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ACTUALIZAR TELEFONOS</title>     
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="navbar-brand" href="#">ACTUALIZAR TELEFONOS</a>
              </li>                            
            </ul>            
          </div>
        </div>
      </nav>
      <% if (telefonos) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Actualización de Teléfonos</div>
                <div class="card-body">
                    <form action="/actualizartelefonos" method="POST">
                         <input idcorreo="idtelefono" name="idtelefono" value="<%= telefonos.idtelefono %>" hidden>

                         <div class="mb-3">
                          <label for="idprofesor" class="form-label">Código del Profesor</label>
                          <input type="text" class="form-control" id="idprofesor" name="idprofesor" 
                          tabindex="1" value="<%= telefonos.idprofesor%>">
                        </div>   
                        

                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="telefono" name="telefono" 
                            tabindex="1" value="<%= telefonos.telefono  %>">
                        </div>        
                                                                                       
                        <button type="submit" class="btn btn-primary" tabindex="5">Actualizar</button>
                        <a href="/telefonos" class="btn btn-danger">Cancelar</a>   

                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
      crossorigin="anonymous"></script>
</body>
</html>